body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #1e293b;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-bar a:hover {
    color: #38bdf8;
}

.perfil-title {
    font-size: 20px;
    font-weight: bold;
}

/* CONTAINER PRINCIPAL */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 80vh;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
}

/* BOTÕES */
button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0ea5e9;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  z-index: 9999;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  z-index: 9999;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}